@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
/*Main Styles list of modules and base modules
If you create a new css module, you must include it here (as import)
*/
/*From Colour Palette - https://colorhunt.co/palette/101433 */
/*Crazy Pink Theme - lets see how this goes - https://colorhunt.co/palette/145074*/
/*Tutorial chose #505962*/
/*We use mixins to create small reusable css code*/
/*The at<size> will create the media queires for us*/
body{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #323232;
	/*background-color: $greyBlack; /*TEMP PLEASE REMOVE!!*/
}
img {
	max-width: 100%;
	height: auto;
}
* {
	box-sizing: border-box;
}
a {
	color: #FF2119;
}
a:hover {
	color: #F7081A;
}
.add-color-main {
	color: #F7081A;
}
/*Remove Googles reCapture Badge*/
.grecaptcha-badge {
	display:none;
}
/*paginatelinks*/
.paginatelinks {
	padding: 1.5rem;
}
/*Global Bootstrap rule - adding 1 rem to all columns */
[class*="col-"] {
	padding: 1rem;
}
hr.socket {
	border-top: .2rem solid rgba(255,255,255, 0.2);
	width: 100%;
}
.self-centre-md {
	margin: 0 auto;
}
.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;
}
@media (min-width: 576px){
.section-title {
		font-size: 3.75rem
}
	}
.section-title strong {
		font-weight: 500;
	}
.section-title--blue {
		color: #3b2c85;
	}
.section-title--green {
		color: #239d60;
	}
.section-title--less-margin {
		margin-bottom: 1.3rem;
	}
.section-title--green-light {
		color: #a3de83;
	}
.section-title__icon {
		display:block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;
	}
@media (min-width: 576px){
.section-title__icon {
			position: relative;
			top:8px;
			margin-right: 1.5rem;
			margin-left: 0;
			display: inline-block;
			margin-bottom: 0
	}
	}
/*--- Nav Scrolling Offset -- */
.offset:before {
		height:4rem;
		margin-top: -4rem;
		content: "";
		display: block;
	}
.padding {
	padding: 2rem 0 1rem;
}
.padding-bottom{
		padding-bottom: 2rem;
	}
/*Custom updates to BootStrap on Dropdown menus*/
.dropdown-menu{
		background-color: rgba(0,0,0,.8);
		transition: background-color .3s ease-out;
	}
@media (min-width: 768px){
.dropdown-menu{
			margin-top: .76rem
	}
	}
.dropdown-menu.animate {
		    animation-duration: 0.3s;
		    -webkit-animation-duration: 0.3s;
		    animation-fill-mode: both;
		    -webkit-animation-fill-mode: both;
		  }
.dropdown-menu.slideIn {
		  -webkit-animation-name: slideIn;
		  animation-name: slideIn;
		}
.dropdown-item{
		color: #FFF;
		padding-left: 1rem;
		font-size: .8rem;
	}
.dropdown-item.active,
	.dropdown-item:hover,
	.current-menu-item .nav-link .dropdown-item
	{
		color: #F7081A;
	}
@keyframes slideIn {
		  0% {
		    -webkit-transform: translateY(1rem);
		            transform: translateY(1rem);
		    opacity: 0;
		  }
		  100% {
		    -webkit-transform:translateY(0rem);
		            transform:translateY(0rem);
		    opacity: 1;
		  }
		  0% {
		    -webkit-transform: translateY(1rem);
		            transform: translateY(1rem);
		    opacity: 0;
		  }
		}
@-webkit-keyframes slideIn {
		  0% {
		    -webkit-transform: transform;
		    -webkit-opacity: 0;
		  }
		  100% {
		    -webkit-transform: translateY(0);
		    -webkit-opacity: 1;
		  }
		  0% {
		    -webkit-transform: translateY(1rem);
		    -webkit-opacity: 0;
		  }
		}
.site-header {
	padding: 10px 0;
	position: fixed;
	/*position: absolute;*/
	width: 100%;
	z-index: 2;
	transition: background-color .3s ease-out;


}
/*background-color: $mainBlackTran;*/
@media (min-width: 768px){
.site-header {
		position: fixed;
		background-color: rgba(0,0,0, .55)


}

		.site-header--dark {
			background-color: rgba(0,0,0, .95);
		}
	}
.site-header--is-expanded {
		background-color: rgba(0,0,0, .95);
	}
@media (min-width: 768px){
.site-header__btn-container {
			float: right
		
	}
	}
.site-header__logo {
		position: absolute;
		background-color: #000;
		padding: .5rem;
		top: 0;
		left: 50%;
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		-webkit-transform-origin: 50% 0;
		        transform-origin: 50% 0;
		opacity: 0;

	}
@media (min-width: 768px){
.site-header__logo {
			/*Removed - Sash does not want to have the logo on the desktop view*/
			display: none;
			/**/
			left: auto;
			-webkit-transform: translateX(0);
			        transform: translateX(0);
			padding: 1.5rem

			/*This is used when the JS StickyHeader adds in the css for the dark bar*/

	}
			.site-header--dark .site-header__logo {
				-webkit-transform: scale(.55);
				        transform: scale(.55);
			}
	}
/*Just adjusting Sashs logo height*/
.site-header__logo img {
			max-height: 7.5rem;
		}
.site-header__logo--is-visible {
			opacity: 1;
			transition: all .5s ease-out;
		}
.site-header__menu-icon {
		z-index: 10;
		width: 20px;
		height: 21px;
		/*background-color: $mainWhite;*/
		position: absolute;
		top: 25px;
		right: 15px;
		outline: none;
	}
/*The three lines for the hamburger menu*/
.site-header__menu-icon::before {
			-webkit-transform-origin:0 0;
			        transform-origin:0 0;
			transition: -webkit-transform .3s ease-out;
			transition: transform .3s ease-out;
			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
			content: "";
			position: absolute;
			top:0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
		}
.site-header__menu-icon__middle{
			position: absolute;
			top:8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transition: all .3s ease-out;
			-webkit-transform-origin: 0 50%;
			        transform-origin: 0 50%;
		}
.site-header__menu-icon::after {
			-webkit-transform-origin:0 100%;
			        transform-origin:0 100%;
			content: "";
			position: absolute;
			bottom:0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transition: -webkit-transform .3s ease-out;
			transition: transform .3s ease-out;
			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		}
@media (min-width: 992px){
.site-header__menu-icon {
			display:none
	}
	}
/*Remove the outline which bootstrap adds to menu icon on focus*/
.site-header__menu-icon:focus {
		outline: none;
	}
/*Make the X close button*/
.site-header__menu-icon--close-x::before {
			-webkit-transform: rotate(45deg) scaleX(1.25);
			        transform: rotate(45deg) scaleX(1.25);
		}
.site-header__menu-icon--close-x .site-header__menu-icon__middle {
			opacity: 0;
			-webkit-transform: scaleX(0);
			        transform: scaleX(0);
		}
.site-header__menu-icon--close-x::after {
			-webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
.site-header__menu-content {
		opacity: 0;
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
		padding-top: 110px;
		text-align: center;
		transition: all .3s ease-out;
		z-index: -10;
		position: relative;
	}
@media (min-width: 768px){
.site-header__menu-content {
			display: block;
			padding-top: 0;
			opacity: 1;
			z-index: 1;
			-webkit-transform: scale(1);
			        transform: scale(1)
	}
	}
.site-header__menu-content--is-visible {
			-webkit-transform: scale(1);
			        transform: scale(1);
			opacity: 1;
			z-index: 1;
		}
/*Custom BootStrap Styles for navbar class*/
.navbar {
	
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: background-color .5s ease 0s;
}
.navbar a {
		color: #FFF;
	}
.navbar-brand img {
		/*height: 2rem;*/
		/*Updated for current TR size on logo*/
		height: 1rem;
    	width: 5rem;
	}
.navbar-nav li{
		padding-right: .8rem;
	}
.navbar-nav .nav-link{
		padding-top: .7rem;
	}
.navbar-nav .nav-link.active,
	.navbar-nav .nav-link:hover,
	.navbar-nav .current-menu-item .nav-link
	{
		color: #F7081A;
	}
.navbar.solid {
		background-color: rgba(0,0,0,.8);
		transition: background-color 1s ease 0s;
	}
@media (min-width: 1200px){
		.navbar .container-fluid {
			padding: 0rem 6rem;
		}
	}
.navbar .navbar-nav.zero-opacity {
		opacity: 0;
		transition: opacity 0.5s ease-out 0s;
	}
/********Home Theme landing page area ************/
#home {
	overflow: hidden;
	position: relative;
}
#home .landing .home-inner.frontLandPageImage {
			background-image: url('../img/mobInnerGGTrailer.jpg');
		}
@media (min-width: 576px){
#home .landing .home-inner.frontLandPageImage {
				background-image : url('../img/InnerGGTrailer.jpg')
				/*background-image : url('../img/GGTrailerAtShow.jpg');*/
		}
	}
#home .landing .dark-overlay {
			background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay.png');
		}
#home .landing .dark-overlay-2 {
			background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay.png');

		}
@media (min-width: 768px){
#home .landing .dark-overlay-2 {
				background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay_2.png')

		}
	}
#home .landing .home-inner.LaserTagLandPageImage {
			background-image : url('../img/GameTruckImages/GGOtherpagesLT.jpg');
		}
#home .landing .home-inner.GameTrailerLandPageImage {
			background-image : url('../img/GameTruckImages/GGOtherpagesTruck.jpg');
		}
#home .landing .home-inner.OtherLandPageImage {
			background-image : url('../img/GameTruckImages/GGOtherpages1Mob.jpg');

		}
@media (min-width: 768px){
#home .landing .home-inner.OtherLandPageImage {
				background-image : url('../img/GameTruckImages/GGOtherpages.jpg')

		}
	}
#home .caption {
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: 27%;
		z-index: 1;


	}
#home .caption h1 {
			color:#FFF;
			font-size: 2rem;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: .3rem;
			text-shadow: .1rem .1rem .8rem #000;
			padding-bottom: 1rem;

		}
#home .caption h3 {
			color:#FFF;
			font-size: 1.2rem;
			text-transform: uppercase;
			text-shadow: .1rem .1rem .8rem #000;
			padding-bottom: 1rem;
		}
#home .caption img.front-logo{
			padding: 2.5rem;
			width: 30rem;
		}
@media (min-width: 768px){
#home .caption img.front-logo{
				width: 40rem
		}
	}
@media (min-width: 992px){
#home .caption img.front-logo{
				width: 60rem
		}
	}
@media (min-width: 992px){
			#home .caption h1 {
				font-size: 4.5rem;
			}
			#home .caption h3 {
				font-size: 2.5rem;
			}
	}
#home .caption.shine-logo {
			top:12%;
		}
#home .caption.shine-logo .shine-logo-img {
				width: 12rem;
				padding: 1.5rem;
			}
@media (min-width: 768px){
#home .caption.shine-logo .shine-logo-img {
					padding: 1rem;
					width: 20rem
			}
	}
/*Custom Button for bootstrap*/
.btn-lg{
		border-width: medium;
		border-radius: 0;
		padding: .8rem 1.5rem;
		font-size: 1.1rem;
		text-transform: uppercase;
		display: inline-block!important;
	}
.btn-lg:hover{
		border-color: #990005;
		background-color:#990005;
		color:#FFF;
	}
.btn-sm {
		border-width: medium;
		border-radius: 0;
		padding: .5rem 1.1rem;
		font-size: .9rem;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem;
	}
.btn-custcolor{
		border-color: #F7081A;
		background-color:#F7081A;
		color:#FFF;
	}
.btn-custcolor:hover,
	.btn-custcolor:focus{
		border-color: #990005;
		background-color:#990005;
		color:#FFF;
	}
.btn-custcolor-snd{
		border-color: #FF2119;
		background-color:#FF2119;
		color:#FFF;
	}
.btn-custcolor-snd:hover,
	.btn-custcolor-snd:focus{
		border-color: #C41B16;
		background-color:#C41B16;
		color:#FFF;
	}
@media (min-width: 768px){
.narrow {
		width: 75%;
		margin:0 auto;
		padding-top: 2rem		
}
	}
.narrow--20 {
		margin: 0 auto;
		width: 50%;
		
	}
@media (min-width: 768px){
.narrow--20 {
			width: 20%
		
	}
	}
.jumbotron {
	margin-bottom: 0;
}
@media (min-width: 768px){
.jumbotron {
		border-radius: 0;
		padding: 1rem 0 3rem
}
	}
.jumbotron-sm-padding{
		padding: 1rem 0 0rem;
	}
h1.heading {
		font-size: 1.9rem;
	}
@media (min-width: 768px){
h1.heading {
			font-size:2.5rem
	}
	}
h3.heading {
		font-size: 1.9rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 1.9rem;
	}
h2.heading {
		font-size: 2.1rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}
h2.heading.sm-dark {
		font-size: 1.2rem;
		color: #FF2119;
	}
h3.heading.sm-dark {
		font-size: 1.2rem;
		color: #FF2119;
	}
.heading-underline {
		width: 3rem;
		height: .2rem;
		background-color: #F7081A;
		margin:0 auto 2rem;
	}
.feature {
	text-align: center;
	position: relative;
}
.feature .fa-layers{
		color: #F7081A;
		height: 6rem; 
		margin: 0 auto;
		width: 3.9rem;
	}
.feature .cus-sm-feat-img{
		color: #F7081A;
		height: 6rem; 
		margin: 0 auto;
		width: 3.9rem;
	}
.feature .cus-sm-feat-img img {
			bottom: 0;
		    left: 0;
		    margin: auto;
		    position: absolute;
		    right: 0;
		    top: 0;
		}
.feature .cus-sm-lasertagger {
		position: absolute;
		left: 44.9%;
    	top: 15%;
		
	}
@media (min-width: 576px){
.feature .cus-sm-lasertagger {
    		left: 40.8%;
   			top: 12%
		
	}
	}
@media (min-width: 768px){
.feature .cus-sm-lasertagger {
			left: 45.25%;
			top: 15%
		
	}
	}
.feature .nintendo-icon {
		max-height: 39px;
	}
.feature h3 {
		font-size: 1.3rem;
		text-transform: uppercase;
		padding-bottom: .4rem;
	}
.feature p {
		font-size: 1.1rem;
	}
.feature p.lead {
		font-size: 1.25rem;
		font-weight: 700;
	}
.dark {
	background-color: rgba(0,0,0, .5);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 10;
}
.dark h3, .dark p, .dark h2 {
		color: #FFF;
	}
.dark-row {
	background-color: rgba(0,0,0, .7);
}
.light {
	background-color: rgba(255,255,255, .7);
	padding: 3rem 2rem 2rem;
	text-align: center;
	z-index: 10;

}
.lighter {
	background-color: rgba(255,255,255, .95);
	padding: 0;
	text-align: center;
}
#fixed {
	background-image: url('../img/fixed/GameMixCharaters.jpg');
	z-index: -1;
}
#fixed-2 {
	background-image: url('../img/fixed/GGTrailerAtShow.jpg');
	z-index: -1;
}
/*Adding different pics to the dark theme*/
#fixed-2.background-2 {
	background-image: url('../img/fixed/GGOtherpages2.jpg');
	z-index: -1;
}
.fixed {
	
}
/*For our photo gallary*/
#portfolio .row.padding{
		padding: 2rem 0 1rem;
	}
#portfolio img.example-image {
		max-width: 100%;
	}
#portfolio .no-padding [class*=col-]{
		padding: 0;
	}
#portfolio .portfolio-item img:hover {
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
		cursor: zoom-in;
	}
#portfolio .portfolio-item img {
		transition: -webkit-transform .4s ease;
		transition: transform .4s ease;
		transition: transform .4s ease, -webkit-transform .4s ease;
	}
#portfolio .portfolio-item {
		overflow: hidden;
	}
.pricing-column {
	background-color: #FFF;
	padding: 2rem;
	border-top: .2rem solid #F7081A;
	box-shadow: 0 0 .8rem rgba(0,0,0, .3);
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
	overflow: hidden;
	position: relative;
	background-size: cover;
  	background-position: center center;

}
.pricing-column:hover {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
.pricing-column h3 {
		padding: 1rem;
		border-bottom: .1rem solid rgba(0,0,0, .2);

	}
.pricing-column h3.front-price {
		font-size: 2.5rem;
	}
.pricing-column p {
		opacity: .8;
		margin-top: 1.3rem;
	}
.pricing-column h4 {
		font-size: 1.1rem;
		padding: .4rem;
	}
.pricing-column .item {
		font-weight: 700;
	}
.pricing-column h1 {
		padding: .8rem 0;
	}
.pricing-column .ribbon {
		background-color: #F7081A;
		color: #FFF;
		width: 10rem;
		height: 2rem;
		font-size: .8rem;
		font-weight: 700;
		padding-top: .4rem;
		position: absolute;
		right: -2.8rem;
		top: 1.6rem;
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		box-shadow: 0 0 .8rem rgba(0,0,0, .4);
	}
.pricing-column .price-img-span {
		margin-left: 10px;
		width: 3rem;
    	position: absolute;
    	top: 9%;
	}
@media (min-width: 1200px){
.pricing-column .price-img-span {
    		margin-left: 19px;
    		width: 4.5rem;
    		top: 8%
	}
	}
.pricing-column.vr-background {
		background-image: url('../img/icons/pink-icons-vr.svg');
	}
.pricing-column.mgt-background {
		background-image: url('../img/icons/pink-icons-game-controler.svg');
	}
.pricing-column.lt-background {
		background-image: url('../img/icons/pink-icons-laser-tag.svg');
	}
.card {
	border-radius: 0;
	border: .1rem solid rgba(0,0,0, .09);
	box-shadow: 0 0 .8rem rgba(0,0,0, .09);
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
}
@media (min-width: 768px){
.card {
		margin: 0 1rem
}
	}
.card .card-img-top{
		border-radius: 0;
	}
.card:hover{
		-webkit-transform: scale(.95);
		        transform: scale(.95);
	}
.card h4 {
		font-weight: 700;
	}
.card h5 {
		color: #F7081A;
	}
.card p {
		border-top: .1rem solid rgba(0,0,0, .12);
		border-bottom: .1rem solid rgba(0,0,0, .12);
		padding: 1rem;
		margin: 1rem 0 1.5rem;
	}
.card svg.svg-inline--fa {
		color: #F7081A;
		font-size: 1.3rem;
		width: 2rem;

	}
.card svg.svg-inline--fa:hover {
		color: #323232;
	}
/*Update the color dot on the owl controler*/
.owl-dot.active span,
	.owl-dot.active span:hover{
		background: #F7081A!important;
	}
.skill h3 {
		color: #F7081A;
		font-size: 2.5rem;
		font-weight: 700;
		margin: 1rem 0 .5rem;
	}
.skill p {
		font-size: 1.1rem;
		text-transform: uppercase;
		font-weight: 700;
	}
/*For clients slider*/
.clients img {
		max-width: 50%;
		margin: 0 auto;
		height: auto;

		border-radius: 50%;
		transition: -webkit-transform .3s ease;
		transition: transform .3s ease;
		transition: transform .3s ease, -webkit-transform .3s ease;
	}
@media (min-width: 768px){
.clients img {
			max-width: 100%;
	}
	}
.clients img:hover {
		-webkit-transform: scale(0.95);
		        transform: scale(0.95);
	}
.clients blockquote svg.svg-inline--fa{
		margin:1rem;
		color: #F7081A;
		font-size: 1.2rem;
	}
.clients-hr {
		border-top: .05rem solid #F7081A;
	}
/*Footer - Contact section*/
footer {
	background: url('../img/footer/footer.png') no-repeat;
	background-size: cover;
	color: #FFF;
}
footer .row {
		background-color: rgba(50,50,50,.9);
		padding: 1rem 2rem 3rem;
	}
footer img {
		height: 2rem;
		margin: 1.5rem 0;
	}
footer footer a {
		color: #FFF;
	}
footer svg.svg-inline--fa {
		font-size: 1.6rem;
		margin: 1.2rem .5rem 0 0 ;
	}
footer svg.svg-inline--fa:hover {
		color: #F7081A;
	}
/*For the WP Contact 7 plugin - styling*/
.contact-form h4 {
		text-transform: uppercase;
	}
.contact-form .cu-options{
		background-color: rgba(0,0,0,.2);
		border: .1rem solid rgba(0,0,0, .5);
    	box-shadow: 0 .2rem .9rem rgba(0,0,0, .2);
    	padding: .2rem;
    	color: #FFF;
    	margin-top: .4rem;
    	margin-bottom: .9rem;
	}
.contact-form .cu-comments {
		height: 100px;
		background-color: rgba(0,0,0,.2);
		border: .1rem solid rgba(0,0,0, .5);
    	box-shadow: 0 .2rem .9rem rgba(0,0,0, .2);
    	color: #FFF;
	}
.contact-form [class*="not-valid-tip"] {
		color:#F7081A;
		border: .1rem solid rgba(0,0,0, .09);
	}
.contact-form input {
		color: #FFF;
		width: 100%;
    	margin: .2rem 0;
    	background-color: rgba(0,0,0,.2);
    	border-color: rgba(0,0,0,.5);
    	box-shadow: 0 1rem .9rem rgba(0,0,0, .09);
	}
.contact-form textarea {
		width: 100%;
	}
.contact-form input.cu-submit {
		color: #FFF;
		width: 50%;
		float: left;
		padding: .5rem;
	}
@media (min-width: 768px){
.contact-form input.cu-submit {
			width: 30%
	}
	}
.contact-form input.cu-submit:hover {
		background-color: #F7081A;
	}
/*WP edits*/
.attachment-banner-image {
	margin-bottom: 2rem;
}
.author-img-container img {
		border-radius: 50%;
    	margin-bottom: 1rem;
	}
/*Policy Layout Page template styles*/
.policy-info-box {
	margin: 20px 3px 10px 0px;
    padding: 10px;
    width: 95%;
    float:none; 
	background-color: black; 

}
@media (min-width: 768px){
.policy-info-box {
		width: 30%;
		float: right;
		margin: 0 0 30px 30px;
		padding: 20px 

}
	}
.policy-info-box h4{
		margin-bottom: 6px;
		color: #ea0f0f;
	}
.policy-info-box p{
		color: #FFF;
		font-size: 80%;
	}
.policy-info-box--bookingPage {
		margin: 0 auto;
		float: none;
	}
.policy-info-box--bookingPage p {
			font-size: 95%;
		}
/*Old WP styles*/
.mobile-off{
		display:none;
	}
.mobile-on {
		display:block;
	}
@media (min-width: 576px){
		.mobile-off{
		display:block;
		}

		.mobile-on {
			display:none;
		}
	}
/*WP standard styles*/
.index-p {
	margin-top: 1rem;
}
.index-p h1,.index-p h2,.index-p h3,.index-p h4{
		margin: .5rem 0;
	}
/*FAQ Edits*/
/*FAQ Slide Toggle Animations*/
.qe-toggle-title{
        font-size: 14px;
        padding: 13px;
    	display: block;
        text-decoration: none;
        padding: 20px;
        margin-top: 10px;
        transition: background .7s ease-in-out;
    }
.qe-toggle-content {
	   display: none;
        text-decoration: none;
        padding: 20px 30px;
        background: #FFF;
        margin: 10px 0px;
    }
/*FAQ Testing*/
.qe-toggle-title_1 {
	   display: block;
        text-decoration: none;
        padding: 20px;
        background: #FFF;
        margin-top: 10px;
    }
.qe-toggle-content_1 {
	   display: none;
        text-decoration: none;
        padding: 20px 30px;
        background: #FFF;
        margin: 10px 0px;
    }
/*Blog comments*/
/*Comments Styling - this is for the blog posts*/
.comments-area {
	background-color: rgba(0,0,0, .6);
    padding: 10px 24px;
    color: #FFF;
    overflow: hidden;
	margin-bottom: 15px;
}
.comments-area .comment-respond {
        padding-top: 20px;
    }
.comments-area .comment-list {
        list-style-type: none;
    }
.comments-area .comment-form-comment {
        margin: 1.5rem 0;
    }
.comments-area .comment-form-comment label {
        display: block;
    }
.comments-area .comment-respond h3.comment-reply-title{
	   text-align: left;
    }
.comments-area .comment-respond .comment-form .submit {
	   border: 20px;
        padding: 15px;
        background-color: #F7081A;       
        color: #FFF;
        text-decoration: none;
    }
.comments-area #easy_captcha_captcha_simple{
        margin-bottom: 1rem;
    }
/*WP Content*/
.main-content img.shine-logo-img-blog {
		width: 10rem;
	    height: 10rem;
	    margin: 0 auto;
	}
/*WP Custom Invitations*/
.custominvitations p img.aligncenter {
		display: block;
		margin: 0 auto;
	}
/*Styles for the Pricing and Booking page*/
/*Styles for the Pricing and booking page*/
/* For the lable check boxes*/
.combination-pricing-contatiner .card .card-body p {
		margin-bottom: 0;
	}
.combination-pricing-contatiner .card:hover{
		-webkit-transform: scale(1.02);
		        transform: scale(1.02);
	}
.combination-pricing-contatiner .card .card-dropdown {
		display: none;
	}
.combination-pricing-contatiner .card .card-dropdown-container {
		border-top: .1rem solid rgba(0,0,0, .12);
		border-bottom: .1rem solid rgba(0,0,0, .12);
		padding: 1rem;
		margin: 1rem 0 0rem;
	}
.combination-pricing-contatiner .card .card-dropdown-container .btn {
			margin: 0;
		}
.combination-pricing-contatiner .card .check-button {
		visibility: visible;
  		opacity: 1;
  		transition: visibility 0s, opacity 0.5s linear;
	}
.combination-pricing-contatiner .card .check-button .btn {
  			margin: 0;
  		}
.combination-pricing-contatiner .card .check-button.reveal {
		visibility: visible;
  		opacity: 1;
	}
@media (min-width: 768px){
.combination-pricing-contatiner .combination-main-features{
			margin: 3rem
	}
	}
/*MGT button - checker */
div.check-button label#label-mgt-checkbox {
    	
	}
div.check-button label#label-mgt-checkbox:after {
    	content: "Select"
	}
input#mgt-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-checkbox {
    	background-color: #F7081A;
    	border-color: #990005;
	}
input#mgt-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-checkbox:after {
    	content: "Selected"
	}
/*LT button - checker */
div.check-button label#label-lt-checkbox {
    	
	}
div.check-button label#label-lt-checkbox:after {
    	content: "Select"
	}
input#lt-checkbox[type=checkbox]:checked ~ div.check-button label#label-lt-checkbox {
    	background-color: #F7081A;
	}
input#lt-checkbox[type=checkbox]:checked ~ div.check-button label#label-lt-checkbox:after {
    	content: "Selected"
	}
/*VR button - checker */
div.check-button label#label-vr-checkbox {
    	
	}
div.check-button label#label-vr-checkbox:after {
    	content: "Select"
	}
input#vr-checkbox[type=checkbox]:checked ~ div.check-button label#label-vr-checkbox {
    	background-color: #F7081A;
	}
input#vr-checkbox[type=checkbox]:checked ~ div.check-button label#label-vr-checkbox:after {
    	content: "Selected"
	}
/*DJ button - checker */
div.check-button label#label-dj-checkbox {
    	
	}
div.check-button label#label-dj-checkbox:after {
    	content: "Select"
	}
input#dj-checkbox[type=checkbox]:checked ~ div.check-button label#label-dj-checkbox {
    	background-color: #F7081A;
	}
input#dj-checkbox[type=checkbox]:checked ~ div.check-button label#label-dj-checkbox:after {
    	content: "Selected"
	}
/*MGTLTSP button - checker */
div.check-button label#label-mgt-lt-sp-checkbox {
    	
	}
div.check-button label#label-mgt-lt-sp-checkbox:after {
    	content: "Select"
	}
input#mgt-lt-sp-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-lt-sp-checkbox {
    	background-color: #F7081A;
	}
input#mgt-lt-sp-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-lt-sp-checkbox:after {
    	content: "Selected"
	}
/*Floating phone css - mobile only*/
/*For mobile phones only - this is just a button to contact us with via mobile*/
.floating-phone {
	display: block;
	position: fixed;
	bottom: 2%;
	right: 0;
	left: 1%;
	z-index: 1030;

}
@media (min-width: 576px){
.floating-phone {
		display: none

}
	}
.floating-phone a img.phone-icon {
		width: 50px;
		opacity: 0;
		transition: .5s ease-out;
	}
.floating-phone a img.phone-icon.active {
		opacity: 1;
	}
/*Totally Rad Customisations Slider*/
/*============= IMAGE SLIDER =============*/
.carousel {
overflow: hidden;

}
.carousel-item.background-1 {
    background-image: url('../img/TR_GameTruck/image3_Game_Truck_outside.jpeg');
  }
.carousel-item.background-2 {
    background-image: url('../img/TR_GameTruck/IMG_20170705_131350489.jpg');
  }
.carousel-item.background-3 {
    background-image: url('../img/TR_GameTruck/foam-party-in-los-angeles-2.jpg');
  }
.carousel-item .dark-overlay {
      background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay.png');
      height: 100vh;
      min-height: 18.75rem;
  }
.carousel-item .dark-overlay-2 {
      background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay_2.png');
      height: 100vh;
      min-height: 18.75rem;
  }
.carousel-item {
    height: 100vh; /*--- Change Height of Image Slider --*/
    min-height: 18.75rem; /*--- (300px for mobile) --*/
    background: no-repeat center center scroll;
    background-size: cover;
    background-color: #1A1A1A;
  }
/*--- For Firefox white between slides --*/
.carousel-item h1 {
      color: black;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .3rem;
      text-shadow: .1rem .1rem .8rem black;
      padding-bottom: 1rem;
    }
.carousel-item h3 {
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: .1rem .1rem .5rem black;
      padding-bottom: 2rem;
      font-size: 1.8rem;
    }
@media (min-width: 768px){
.carousel-item h3 {
        font-size: 2.5rem
    }
	}
/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
    transition: transform 1.2s ease,-webkit-transform 1.2s ease;

  }
.carousel-caption {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    /*top: 38%;*/

    top:9%;
    z-index: 1;
    right: 0;
    left: 0;
    padding: 0;
  }
@media (min-width: 768px){
.carousel-caption {
        top:21%
  }
	}
.carousel-caption-no-logo {
    top:30%;
  }
@media (min-width: 768px){
.carousel-caption-no-logo {
      top: 42%
  }
	}
.carousel-caption-no-logo h4 {
      padding: 2rem 2rem

    }
.carousel-caption-logo {
    padding: 1rem;
    height: 250px;
  }
@media (min-width: 768px){
.carousel-caption-logo {
      padding:1.5rem;
      height: 350px
  }
	}
/*TR - Overrite changes*/
.navbar {
	padding: .2rem .1rem;
}
.navbar-brand img {
		/*height: 2rem;*/
		/*Updated for current TR size on logo*/
		height: 3rem;
	}
.navbar .container-fluid #navbarResponsive {
		padding: 1.2rem;
	}
#home .home-inner.frontLandPageImage {
		background-image: url('../img/TR_GameTruck/image1_Game_Truck.jpeg');
	}
@media (min-width: 576px){
#home .home-inner.frontLandPageImage {
			background-image : url('../img/TR_GameTruck/image1_Game_Truck.jpeg')
			/*background-image : url('../img/GGTrailerAtShow.jpg');*/
	}
	}
#home .home-inner.OtherLandPageImage {
		background-image : url('../img/TR_GameTruck/image3_Game_Truck_outside.jpeg');
	}
@media (min-width: 768px){
#home .home-inner.OtherLandPageImage {
			background-image : url('../img/TR_GameTruck/image3_Game_Truck_outside.jpeg')
	}
	}
/*Update alignment settings on the col-md-3 section*/
/*Fortnight img realignment*/
.col-md-3 img.fn-img-align {
		display: block;
		margin: 0 auto;
    	margin-top: 2.5rem;
	}
#fixed {
	background-image: url('../img/fixed/totally-rad-video-game-truck-los-angeles-trailer.png');
	z-index: -1;
}
#fixed-2 {
	background-image: url('../img/fixed/FoamMachine.jpeg');
}
/*Adding different pics to the dark theme*/
#fixed-2.background-2 {
	background-image: url('../img/fixed/internal_TV_view.jpg');
}
.light {
	background-color: rgba(255,255,255, .7);
	text-align: center;
	padding: 1rem .5rem .5rem;
	z-index: 10;
}
@media (min-width: 768px){
.light {
		padding: 3rem 2rem 2rem
}
	}
.dark-shadow {
	box-shadow: 0 0 1.5rem rgba(0,0,0, .7);
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
}
.dark-shadow:hover {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
footer img {
	 	height: 4rem;
    	margin: .5rem 0;
	}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
