<div class='nav'>
	<!--<ul class="nav-menu">-->
	<div class="nav-menu-container">
		<ul id="menu-primary-menu-links" class="menu">
			<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-36">
				<a href="//localhost:3000/" aria-current="page">Home</a>
			</li>
			<li id="menu-item-203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-203">
				<a href="//localhost:3000/about-us/">About Us</a>
				<ul class="sub-menu">
					<li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214">
						<a href="//localhost:3000/about-us/faq/">Frequently Asked Questions</a>
					</li>
					<li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213">
						<a href="//localhost:3000/about-us/terms-and-conditions/">Our Policies</a>
					</li>
					<li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212">
						<a href="//localhost:3000/about-us/news/">News and Promotions</a>
					</li>
					<li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215">
						<a href="//localhost:3000/about-us/wall-of-fame/">Photo &#038; Video Gallery</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-217">
				<a href="//localhost:3000/our-game-trailer/">Game Trailer</a>
				<ul class="sub-menu">
					<li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
						<a href="//localhost:3000/our-game-trailer/our-service-area/">Our Service Area</a>
					</li>
					<li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229">
						<a href="//localhost:3000/our-game-trailer/truck-trailer-parking/">Truck &#038; Trailer Parking</a>
					</li>
					<li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238">
						<a href="//localhost:3000/our-game-trailer/our-games-ratings/">Our Games &#038; Ratings</a>
					</li>
					<li id="menu-item-1070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1070">
						<a href="//localhost:3000/our-game-trailer/custom-invitations/">Custom Invitations</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-304">
				<a href="//localhost:3000/services/lasertag/">Laser Tag – Outdoor and Indoor</a>
				<ul class="sub-menu">
					<li id="menu-item-1302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1302">
						<a href="//localhost:3000/services/lasertag/laser-tag-school-or-after-school-care-proposal/">School and OSHC LT Proposal</a>
					</li>
					<li id="menu-item-946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-946">
						<a href="//localhost:3000/services/lasertag/laser-tag-features/">LT Features</a>
					</li>
					<li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442">
						<a href="//localhost:3000/services/lasertag/laser-tag-waiver-form/">Waiver Form</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29">
				<a href="//localhost:3000/contact-us/">Contact Us</a>
			</li>
			<li id="menu-item-1168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1168">
				<a href="//localhost:3000/booking/">Pricing and Booking</a>
			</li>
		</ul>
	</div>
</div>
undefined</nav>
