
.btn {
	background-color: $mainGreen;
	color: $mainWhite;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

	&--orange {
		background-color: $mainOrange;
	}

	/*Sash Garden Buttons*/
	&--light-green {
		background-color: $mainGreenLight;
	}

	&--dark-green {
		background-color: $mainGreen;
	}


	&--large {
		padding: 1.1rem 1.9rem;

		@mixin atSmall {
			font-size: 1.25rem;
			padding: 1.1rem 1.9rem;
		}
	}
}