.large-hero {
	border-bottom: 10px solid $mainGreen;
	position: relative;

	&__image {
		display: block;
	}
	
	&__text-content{
		/*margin-top: 58px;*/
		margin-top: 25px;
		padding-top: 10px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
		@mixin atMedium {
			margin-top: 0;
			padding-top: 0;
		}
	}

	&__title {
		 font-weight: 300;
		 color: $mainGreen;
		 font-size: 2.4rem;
		 margin: 0;

		 @mixin atSmall {
		 	font-size: 4.8rem;
		 }

	}

	&__subtitle {
		 font-weight: 300;
		 color: $mainGreenLight;
		 font-size: 1.5rem;
		 margin: 0;

		 @mixin atSmall {
		 	font-size: 2.9rem;
		 }

		 &--same-size-as-h1{
		 	font-size: 2.4rem;
		 	@mixin atSmall {
		 		font-size: 4.8rem;
		 	}
		 }
	}

	&__description {
		color: $mainWhite;
		font-size: 1.1rem;
		font-weight: 110;
		text-shadow: 2px 2px 0 rgba(0,0,0,.1);
		max-width: 30rem;
		margin-right: auto;
		margin-left: auto;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}

	&--dark-tran-background {
		background-color: rgba(33, 33, 37, .8);
	}

}



