.modal {
	position: fixed;
	z-index: 5;
	background-color: rgba($mainBlack, .94);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&__description {
		text-align: center;
		font-size: 1.43rem;
		font-weight: 300;
		line-height: 1.65;
	}

}