.page-section {
	padding: 1.2rem 0;
	
	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--no-b-padding-unitl-medium {
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}

	&--blue {
		background-color: $mainBlue;
		color: $mainWhite;
	}

	&--green-light {
		background-color: $mainGreenLight;
		color: $mainBlack;
	}

	&--green-dark {
		background-color: $mainGreen;
		color: $mainWhite;
	}

	&--dark-back-colour{
		background-color: $mainBlack;
		color: $mainWhite;
	}

	&--testimonials {
		background-color: $mainGreenLight;

		@mixin atLarge {
			background: url('/assets/images/Sash_Garden_Images/yard-garden-background-with-shallow-focus-prores_narrow.jpg') top center no-repeat;
			background-size: cover;
		}

	}


}