.primary-nav{
	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}

	&--pull-right{
		@mixin atMedium{
			float: right;
		}
		
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}	

	li {
		list-style: none;
		display: inline-block;
		padding-right:  7px;
		padding-top: 7px;

		@mixin atMedium {
			padding-right: 20px;
			display: block;
			float: left;
		}
	}

	li:last-child {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 20px;
		} 
	}

	a {
		color: $mainWhite;
		text-decoration: none;
		font-weight: 300;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainGreen, .4);

		@mixin atMedium {
			font-size: 1rem;
			padding: 12px 0;	
			background-color: transparent;


			&.is-current-link {
				color:rgba($mainYellowLight, .9); 
			}

		}
	}
}