.row {

	@mixin clearfix;

	&--gutters {
		margin-right: -65px;
	}
	
	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	&--t-padding {
		padding-top: 5rem;
	}

	&__medium-12 {
		float: left;
		width: 100%;
	}

	@mixin atMedium {
		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		/*The below are the "row" sizes which use a "12" column layout.
		Lets say you want just two even rows, use the __medium-6 class.
		If you like one side to be a bit smaller than the other use the
		__medium-4 and __medium-8 row combination*/

		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		&__medium-4--larger {
			width: 37%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

		&__medium-8--smaller {
			width: 63%;
		}
	}

	@mixin atLarge {
		&__b-margin-until-large {
			margin-bottom: 0;
		}

		/*The below are the "row" sizes which use a "12" column layout.
		Lets say you want just two even rows, use the __medium-6 class.
		If you like one side to be a bit smaller than the other use the
		__medium-4 and __medium-8 row combination*/

		&__large-4 {
			float: left;
			width: 33.33%;
		}

		&__large-4--larger {
			width: 37%;
		}

		&__large-6 {
			float: left;
			width: 50%;
		}

		&__large-8 {
			float: left;
			width: 66.66%;
		}

		&__large-8--smaller {
			width: 63%;
		}
	}

	/* Begin Equal Height Rules*/

	&--equal-height-at-medium {
		@mixin atMedium {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}

	&--equal-height-at-large {
		@mixin atLarge {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}

}