.site-header {
	padding: 10px 0;
	position: fixed;
	/*position: absolute;*/
	width: 100%;
	z-index: 2;
	transition: background-color .3s ease-out;
	/*background-color: $mainBlackTran;*/
	@mixin atMedium {
		position: fixed;
		background-color: rgba($mainBlack, .55);

		&--dark {
			background-color: rgba($mainBlack, .95);
		}
	}

	&--is-expanded {
		background-color: rgba($mainBlack, .95);
	}

	&__btn-container {
		@mixin atMedium{
			float: right;	
		}
		
	}

	&__logo {
		position: absolute;
		background-color: $mainBlack;
		padding: .5rem;
		top: 0;
		left: 50%;
		transition: transform .3s ease-out;
		transform: translateX(-50%);
		transform-origin: 50% 0;
		opacity: 0;

		@mixin atMedium {
			/*Removed - Sash does not want to have the logo on the desktop view*/
			display: none;
			/**/
			left: auto;
			transform: translateX(0);
			padding: 1.5rem;

			/*This is used when the JS StickyHeader adds in the css for the dark bar*/
			.site-header--dark & {
				transform: scale(.55);
			}
		}

		/*Just adjusting Sashs logo height*/
		img {
			max-height: 7.5rem;
		}

		&--is-visible {
			opacity: 1;
			transition: all .5s ease-out;
		}

	}

	&__menu-icon {
		z-index: 10;
		width: 20px;
		height: 19px;
		/*background-color: $mainWhite;*/
		position: absolute;
		top: 10px;
		right: 10px;

		/*The three lines for the hamburger menu*/
		&::before {
			transform-origin:0 0;
			transition: transform .3s ease-out;
			content: "";
			position: absolute;
			top:0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
		}

		&__middle{
			position: absolute;
			top:8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transition: all .3s ease-out;
			transform-origin: 0 50%;
		}

		&::after {
			transform-origin:0 100%;
			content: "";
			position: absolute;
			bottom:0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			transition: transform .3s ease-out;
		}

		@mixin atMedium {
			display:none;
		}
	}

	/*Make the X close button*/
	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content {
		opacity: 0;
		transform: scale(1.3);
		padding-top: 110px;
		text-align: center;
		transition: all .3s ease-out;
		z-index: -10;
		position: relative;

		@mixin atMedium {
			display: block;
			padding-top: 0;
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}

		&--is-visible {
			transform: scale(1);
			opacity: 1;
			z-index: 1;
		}
	}


}