.testimonial {
	/*background-color: rgb(255, 255, 255 ,.75);*/
	padding: 0 1.125rem 1px 1.125rem;
	margin-bottom: 6.125rem;

	@mixin atLarge {
		padding: 0 1.8125rem 1px 1.8125rem;
		margin-bottom: 0px;
	}

	&__photo {
		border-radius: 80px;
		overflow: hidden;
		width: 160px;
		height: 160px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
		border:6px solid rgb(255, 255, 255 ,.75);
	}

	&--last {
		margin-bottom: 0;
	}

	&__title {
		color: $mainGreen;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}

	&__subtitle {
		color: $mainGreenLight;
		text-align: center;
		font-weight: 400;
		font-size: 0.9375rem;
		margin: .25rem 0 1rem 0;
	}

	&__gumtree-link {
		
	}
}