.wrapper {
	/*for debugging
	background-color: blue;*/
	/*needed to have the overflow "Hidden" due to the row col layout*/
	overflow: hidden;
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-right: auto;
	margin-left: auto;

	&--medium {
		max-width: 976px;
	}

	&--narrow {
		max-width: 470px;	
	}

	&--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;

		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;	
		}
	}

	&--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;

		@mixin atLarge {
			padding-left: 18px;
			padding-right: 18px;
			padding-bottom: 18px;	
		}
	}

	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1rem;
		@mixin atSmall{
			margin-bottom: 3.875rem;
		}
	}

	&--black-background {
		background-color: $mainBlackTran;
	}
}
