/*============= IMAGE SLIDER =============*/
.carousel {
overflow: hidden;
  &-item.background-1 {
    background-image: url('../img/TR_GameTruck/image3_Game_Truck_outside.jpeg');
  }

  &-item.background-2 {
    background-image: url('../img/TR_GameTruck/IMG_20170705_131350489.jpg');
  }

  &-item.background-3 {
    background-image: url('../img/TR_GameTruck/foam-party-in-los-angeles-2.jpg');
  }
  
  &-item .dark-overlay {
      background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay.png');
      height: 100vh;
      min-height: 18.75rem;
  }

  &-item .dark-overlay-2 {
      background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay_2.png');
      height: 100vh;
      min-height: 18.75rem;
  }

  &-item {
    height: 100vh; /*--- Change Height of Image Slider --*/
    min-height: 18.75rem; /*--- (300px for mobile) --*/
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #1A1A1A; /*--- For Firefox white between slides --*/
    
    h1 {
      color: black;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .3rem;
      text-shadow: .1rem .1rem .8rem black;
      padding-bottom: 1rem;
    }

    h3 {
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: .1rem .1rem .5rem black;
      padding-bottom: 2rem;
      font-size: 1.8rem;
      @mixin atMedium {
        font-size: 2.5rem;
      }
    }
  }
  
  /*---Change Carousel Transition Speed --*/
  &-item-next, &-item-prev, &-item.active {
    display: block;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease,-webkit-transform 1.2s ease;

  }
  &-caption {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    /*top: 38%;*/

    top:9%;
    z-index: 1;
    right: 0;
    left: 0;
    padding: 0;
    @mixin atMedium{
        top:21%;
    }
  }

  &-caption-no-logo {
    top:30%;
    @mixin atMedium {
      top: 42%;
    }
    h4 {
      padding: 2rem 2rem

    }
  }

  &-caption-logo {
    padding: 1rem;
    height: 250px;
    @mixin atMedium{
      padding:1.5rem;
      height: 350px;
    }
  }

}