#fixed {
	background-image: url('../img/fixed/totally-rad-video-game-truck-los-angeles-trailer.png');
	z-index: -1;
}

#fixed-2 {
	background-image: url('../img/fixed/FoamMachine.jpeg');
}

/*Adding different pics to the dark theme*/
#fixed-2.background-2 {
	background-image: url('../img/fixed/internal_TV_view.jpg');
}

.light {
	background-color: rgba($mainWhite, .7);
	text-align: center;
	padding: 1rem .5rem .5rem;
	z-index: 10;
	@mixin atMedium {
		padding: 3rem 2rem 2rem;
	}
}