#home {
	& .home-inner.frontLandPageImage {
		background-image: url('../img/TR_GameTruck/image1_Game_Truck.jpeg');
		@mixin atSmall{
			background-image : url('../img/TR_GameTruck/image1_Game_Truck.jpeg');
			/*background-image : url('../img/GGTrailerAtShow.jpg');*/
		}
	}

	& .home-inner.OtherLandPageImage {
		background-image : url('../img/TR_GameTruck/image3_Game_Truck_outside.jpeg');
		@mixin atMedium{
			background-image : url('../img/TR_GameTruck/image3_Game_Truck_outside.jpeg');
		}
	}
}