/*TR - Overrite changes*/
.navbar {
	padding: .2rem .1rem;
	&-brand img {
		/*height: 2rem;*/
		/*Updated for current TR size on logo*/
		height: 3rem;
	}
	& .container-fluid #navbarResponsive {
		padding: 1.2rem;
	}
}