/*We use mixins to create small reusable css code*/

/*The at<size> will create the media queires for us*/
@define-mixin atSmall {
	@media (min-width: 576px){
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 768px){
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 992px){
		@mixin-content;
	}
}

@define-mixin atExtraLarge {
	@media (min-width: 1200px){
		@mixin-content;
	}
}

@define-mixin clearfix {
	/*This will clear the floats*/
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}