$mainBlue: #3b2c85;
$mainWhite: #FFF;
$mainOrange: #d59541;
$mainLightBlue: #e0e6ef;
/*From Colour Palette - https://colorhunt.co/palette/101433 */
$mainBlack: #000;
$mainBlackTran: rgba(33, 33, 37, .8);
$mainGreen: #239d60;
$mainRed: #ea0f0f;
$mainGreenLight: #a3de83;
$mainYellowLight: #f7f39a;

/*Crazy Pink Theme - lets see how this goes - https://colorhunt.co/palette/145074*/
$colorMain: #F7081A;
$colorMainDarker: #990005;
$colorMainTrans: rgba(230,11,85,.8);
$colorSecond: #FF2119;
$colorSecondDarker: #C41B16;
$colorSecondTrans: rgba(214,29,78,.8);
$greyBlack: #323232; /*Tutorial chose #505962*/
$greyBlackTrans: rgba(50,50,50,.8);
$greyBlackDarker: #191919;
$lightestColourPink: #ffdee6;
