/*Custom Button for bootstrap*/
.btn {
	&-lg{
		border-width: medium;
		border-radius: 0;
		padding: .8rem 1.5rem;
		font-size: 1.1rem;
		text-transform: uppercase;
		display: inline-block!important;
	}

	&-lg:hover{
		border-color: $colorMainDarker;
		background-color:$colorMainDarker;
		color:$mainWhite;
	}

	&-sm {
		border-width: medium;
		border-radius: 0;
		padding: .5rem 1.1rem;
		font-size: .9rem;
		font-weight: 400;
		text-transform: uppercase;
		margin: 1rem;
	}

	&-custcolor{
		border-color: $colorMain;
		background-color:$colorMain;
		color:$mainWhite;
	}

	&-custcolor:hover,
	&-custcolor:focus{
		border-color: $colorMainDarker;
		background-color:$colorMainDarker;
		color:$mainWhite;
	}

	&-custcolor-snd{
		border-color: $colorSecond;
		background-color:$colorSecond;
		color:$mainWhite;
	}

	&-custcolor-snd:hover,
	&-custcolor-snd:focus{
		border-color: $colorSecondDarker;
		background-color:$colorSecondDarker;
		color:$mainWhite;
	}
}