.card {
	border-radius: 0;
	border:.1rem solid rgba($mainBlack, .09);
	box-shadow: 0 0 .8rem rgba($mainBlack, .09);
	transition: transform .4s ease;
	
	@mixin atMedium {
		margin: 0 1rem;
	}

	& .card-img-top{
		border-radius: 0;
	}

	&:hover{
		transform: scale(.95);
	}

	& h4 {
		font-weight: 700;
	}

	& h5 {
		color: $colorMain;
	}

	& p {
		border-top: .1rem solid rgba($mainBlack, .12);
		border-bottom:  .1rem solid rgba($mainBlack, .12);
		padding: 1rem;
		margin: 1rem 0 1.5rem;
	}

	& svg.svg-inline--fa {
		color: $colorMain;
		font-size: 1.3rem;
		width: 2rem;

	}

	& svg.svg-inline--fa:hover {
		color: $greyBlack;
	}
}