/*For clients slider*/

.clients {

	& img {
		max-width: 50%;
		margin: 0 auto;
		height: auto;

		@mixin atMedium {
			max-width: 100%;
		}

		border-radius: 50%;
		transition: transform .3s ease;
	}

	& img:hover {
		transform: scale(0.95);
	}

	& blockquote svg.svg-inline--fa{
		margin:1rem;
		color: $colorMain;
		font-size: 1.2rem;
	}

	&-hr {
		border-top: .05rem solid $colorMain;
	}
}