/*Styles for the Pricing and booking page*/
.combination-pricing-contatiner {
	/* For the lable check boxes*/

	& .card .card-body p {
		margin-bottom: 0;
	}

	& .card:hover{
		transform: scale(1.02);
	}

	& .card .card-dropdown {
		display: none;
	}

	& .card .card-dropdown-container {
		border-top: .1rem solid rgba($mainBlack, .12);
		border-bottom:  .1rem solid rgba($mainBlack, .12);
		padding: 1rem;
		margin: 1rem 0 0rem;

		.btn {
			margin: 0;
		}
	}


	& .card .check-button {
		visibility: visible;
  		opacity: 1;
  		transition: visibility 0s, opacity 0.5s linear;

  		.btn {
  			margin: 0;
  		}
	}
	& .card .check-button.reveal {
		visibility: visible;
  		opacity: 1;
	}

	& .combination-main-features{
		
		@mixin atMedium{
			margin: 3rem;
		}
	}
}



/*MGT button - checker */
	div.check-button label#label-mgt-checkbox {
    	
	}
	div.check-button label#label-mgt-checkbox:after {
    	content: "Select"
	}

	input#mgt-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-checkbox {
    	background-color: $colorMain;
    	border-color: $colorMainDarker;
	}

	input#mgt-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-checkbox:after {
    	content: "Selected"
	}

/*LT button - checker */
	div.check-button label#label-lt-checkbox {
    	
	}
	div.check-button label#label-lt-checkbox:after {
    	content: "Select"
	}

	input#lt-checkbox[type=checkbox]:checked ~ div.check-button label#label-lt-checkbox {
    	background-color: $colorMain;
	}

	input#lt-checkbox[type=checkbox]:checked ~ div.check-button label#label-lt-checkbox:after {
    	content: "Selected"
	}

/*VR button - checker */
	div.check-button label#label-vr-checkbox {
    	
	}
	div.check-button label#label-vr-checkbox:after {
    	content: "Select"
	}

	input#vr-checkbox[type=checkbox]:checked ~ div.check-button label#label-vr-checkbox {
    	background-color: $colorMain;
	}

	input#vr-checkbox[type=checkbox]:checked ~ div.check-button label#label-vr-checkbox:after {
    	content: "Selected"
	}

/*DJ button - checker */
	div.check-button label#label-dj-checkbox {
    	
	}
	div.check-button label#label-dj-checkbox:after {
    	content: "Select"
	}

	input#dj-checkbox[type=checkbox]:checked ~ div.check-button label#label-dj-checkbox {
    	background-color: $colorMain;
	}

	input#dj-checkbox[type=checkbox]:checked ~ div.check-button label#label-dj-checkbox:after {
    	content: "Selected"
	}

/*MGTLTSP button - checker */
	div.check-button label#label-mgt-lt-sp-checkbox {
    	
	}
	div.check-button label#label-mgt-lt-sp-checkbox:after {
    	content: "Select"
	}

	input#mgt-lt-sp-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-lt-sp-checkbox {
    	background-color: $colorMain;
	}

	input#mgt-lt-sp-checkbox[type=checkbox]:checked ~ div.check-button label#label-mgt-lt-sp-checkbox:after {
    	content: "Selected"
	}