/*Comments Styling - this is for the blog posts*/
.comments-area {
	background-color: rgba($mainBlack, .6);
    padding: 10px 24px;
    color: $mainWhite;
    overflow: hidden;
	margin-bottom: 15px;


    & .comment-respond {
        padding-top: 20px;
    }

    & .comment-list {
        list-style-type: none;
    }

    & .comment-form-comment {
        margin: 1.5rem 0;
    }
    
    & .comment-form-comment label {
        display: block;
    }

    & .comment-respond h3.comment-reply-title{
	   text-align: left;
    }

    & .comment-respond .comment-form .submit {
	   border: 20px;
        padding: 15px;
        background-color: $colorMain;       
        color: $mainWhite;
        text-decoration: none;
    }

    & #easy_captcha_captcha_simple{
        margin-bottom: 1rem;
    }
}