/*For the WP Contact 7 plugin - styling*/
.contact-form {
	& h4 {
		text-transform: uppercase;
	}

	& .cu-options{
		background-color: rgba($mainBlack,.2);
		border:.1rem solid rgba($mainBlack, .5);
    	box-shadow: 0 .2rem .9rem rgba($mainBlack, .2);
    	padding: .2rem;
    	color: $mainWhite;
    	margin-top: .4rem;
    	margin-bottom: .9rem;
	}

	& .cu-comments {
		height: 100px;
		background-color: rgba($mainBlack,.2);
		border:.1rem solid rgba($mainBlack, .5);
    	box-shadow: 0 .2rem .9rem rgba($mainBlack, .2);
    	color: $mainWhite;
	}

	& [class*="not-valid-tip"] {
		color:$colorMain;
		border:.1rem solid rgba($mainBlack, .09);
	}	

	& input {
		color: $mainWhite;
		width: 100%;
    	margin: .2rem 0;
    	background-color: rgba($mainBlack,.2);
    	border-color: rgba($mainBlack,.5);
    	box-shadow: 0 1rem .9rem rgba($mainBlack, .09);
	}

	& textarea {
		width: 100%;
	}
	& input.cu-submit {
		color: $mainWhite;
		width: 50%;
		float: left;
		padding: .5rem;
		@mixin atMedium{
			width: 30%;
		}
	}
	& input.cu-submit:hover {
		background-color: $colorMain;
	}
}