/*Custom updates to BootStrap on Dropdown menus*/
.dropdown {
	&-menu{
		background-color: rgba($mainBlack,.8);
		transition: background-color .3s ease-out;
		@mixin atMedium {
			margin-top: .76rem;
		}
		&.animate {
		    animation-duration: 0.3s;
		    -webkit-animation-duration: 0.3s;
		    animation-fill-mode: both;
		    -webkit-animation-fill-mode: both;
		  }

	&.slideIn {
		  -webkit-animation-name: slideIn;
		  animation-name: slideIn;
		}
	}
	&-item{
		color: $mainWhite;
		padding-left: 1rem;
		font-size: .8rem;
	}

	&-item.active,
	&-item:hover,
	.current-menu-item .nav-link &-item
	{
		color: $colorMain;
	}

}
		@keyframes slideIn {
		  0% {
		    transform: translateY(1rem);
		    opacity: 0;
		  }
		  100% {
		    transform:translateY(0rem);
		    opacity: 1;
		  }
		  0% {
		    transform: translateY(1rem);
		    opacity: 0;
		  }
		}

		@-webkit-keyframes slideIn {
		  0% {
		    -webkit-transform: transform;
		    -webkit-opacity: 0;
		  }
		  100% {
		    -webkit-transform: translateY(0);
		    -webkit-opacity: 1;
		  }
		  0% {
		    -webkit-transform: translateY(1rem);
		    -webkit-opacity: 0;
		  }
		}