.feature {
	text-align: center;
	position: relative;

	& .fa-layers{
		color: $colorMain;
		height: 6rem; 
		margin: 0 auto;
		width: 3.9rem;
	}

	& .cus-sm-feat-img{
		color: $colorMain;
		height: 6rem; 
		margin: 0 auto;
		width: 3.9rem;

		img {
			bottom: 0;
		    left: 0;
		    margin: auto;
		    position: absolute;
		    right: 0;
		    top: 0;
		}
	}

	& .cus-sm-lasertagger {
		position: absolute;
		left: 44.9%;
    	top: 15%;

    	@mixin atSmall{
    		left: 40.8%;
   			top: 12%;
    	}

		@mixin atMedium{
			left: 45.25%;
			top: 15%;	
		}
		
	}

	& .nintendo-icon {
		max-height: 39px;
	}

	& h3 {
		font-size: 1.3rem;
		text-transform: uppercase;
		padding-bottom: .4rem;
	}

	& p {
		font-size: 1.1rem;
	}

	& p.lead {
		font-size: 1.25rem;
		font-weight: 700;
	}
}