.dark {
	background-color: rgba($mainBlack, .5);
	padding: 7rem 2rem;
	text-align: center;
	z-index: 10;

	& h3, & p, & h2 {
		color: $mainWhite;
	}
}

.dark-row {
	background-color: rgba($mainBlack, .7);
}

.light {
	background-color: rgba($mainWhite, .7);
	padding: 3rem 2rem 2rem;
	text-align: center;
	z-index: 10;

}
.lighter {
	background-color: rgba($mainWhite, .95);
	padding: 0;
	text-align: center;
}

#fixed {
	background-image: url('../img/fixed/GameMixCharaters.jpg');
	z-index: -1;
}

#fixed-2 {
	background-image: url('../img/fixed/GGTrailerAtShow.jpg');
	z-index: -1;
}

/*Adding different pics to the dark theme*/
#fixed-2.background-2 {
	background-image: url('../img/fixed/GGOtherpages2.jpg');
	z-index: -1;
}

.fixed {
	
}