/*For mobile phones only - this is just a button to contact us with via mobile*/
.floating-phone {
	display: block;
	position: fixed;
	bottom: 2%;
	right: 0;
	left: 1%;
	z-index: 1030;
	
	@mixin atSmall {
		display: none;
	}

	& a img.phone-icon {
		width: 50px;
		opacity: 0;
		transition: .5s ease-out;
	}


	& a img.phone-icon.active {
		opacity: 1;
	}

}