/*Footer - Contact section*/
footer {
	background: url('../img/footer/footer.png') no-repeat;
	background-size: cover;
	color: $mainWhite;

	& .row {
		background-color: rgba($greyBlack,.9);
		padding: 1rem 2rem 3rem;
	}

	& img {
		height: 2rem;
		margin: 1.5rem 0;
	}

	footer a {
		color: $mainWhite;
	}

	& svg.svg-inline--fa {
		font-size: 1.6rem;
		margin: 1.2rem .5rem 0 0 ;
	}

	& svg.svg-inline--fa:hover {
		color: $colorMain;
	}
}