.heading {
	h1& {
		font-size: 1.9rem;
		@mixin atMedium {
			font-size:2.5rem;
		}
	}
	h3& {
		font-size: 1.9rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 1.9rem;
	}

	h2& {
		font-size: 2.1rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}

	h2&.sm-dark {
		font-size: 1.2rem;
		color: $colorSecond;
	}

	h3&.sm-dark {
		font-size: 1.2rem;
		color: $colorSecond;
	}

	&-underline {
		width: 3rem;
		height: .2rem;
		background-color: $colorMain;
		margin:0 auto 2rem;
	}
}