/********Home Theme landing page area ************/
#home {
	overflow: hidden;
	position: relative;
	.landing {
	
		& .home-inner.frontLandPageImage {
			background-image: url('../img/mobInnerGGTrailer.jpg');
			@mixin atSmall{
				background-image : url('../img/InnerGGTrailer.jpg');
				/*background-image : url('../img/GGTrailerAtShow.jpg');*/
			}
		}

		& .dark-overlay {
			background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay.png');
		}

		& .dark-overlay-2 {
			background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay.png');
			@mixin atMedium{
				background-image : url('../img/overlay/GGTrailerAtShow_DarkOverlay_2.png');
			}

		}

		& .home-inner.LaserTagLandPageImage {
			background-image : url('../img/GameTruckImages/GGOtherpagesLT.jpg');
		}

		& .home-inner.GameTrailerLandPageImage {
			background-image : url('../img/GameTruckImages/GGOtherpagesTruck.jpg');
		}
		

		& .home-inner.OtherLandPageImage {
			background-image : url('../img/GameTruckImages/GGOtherpages1Mob.jpg');
			@mixin atMedium{
				background-image : url('../img/GameTruckImages/GGOtherpages.jpg');
			}

		}
	}

	.caption {
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: 27%;
		z-index: 1;
		h1 {
			color:$mainWhite;
			font-size: 2rem;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: .3rem;
			text-shadow: .1rem .1rem .8rem $mainBlack;
			padding-bottom: 1rem;

		}
		h3 {
			color:$mainWhite;
			font-size: 1.2rem;
			text-transform: uppercase;
			text-shadow: .1rem .1rem .8rem $mainBlack;
			padding-bottom: 1rem;
		}

		& img.front-logo{
			padding: 2.5rem;
			width: 30rem;
			@mixin atMedium{
				width: 40rem;
			}
			@mixin atLarge{
				width: 60rem;
			}
		}

		
		@mixin atLarge{
			h1 {
				font-size: 4.5rem;
			}
			h3 {
				font-size: 2.5rem;
			}
		}

		&.shine-logo {
			top:12%;
			& .shine-logo-img {
				width: 12rem;
				padding: 1.5rem;
				@mixin atMedium {
					padding: 1rem;
					width: 20rem;
				}
			}
		}


	}
}
