/*Custom BootStrap Styles for navbar class*/
.navbar {
	
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: background-color .5s ease 0s;

	& a {
		color: $mainWhite;
	}

	&-brand img {
		/*height: 2rem;*/
		/*Updated for current TR size on logo*/
		height: 1rem;
    	width: 5rem;
	}

	&-nav li{
		padding-right: .8rem;
	}

	&-nav .nav-link{
		padding-top: .7rem;
	}
	
	&-nav .nav-link.active,
	&-nav .nav-link:hover,
	&-nav .current-menu-item .nav-link
	{
		color: $colorMain;
	}

	&.solid {
		background-color: rgba($mainBlack,.8);
		transition: background-color 1s ease 0s;
	}

	@mixin atExtraLarge {
		& .container-fluid {
			padding: 0rem 6rem;
		}
	}
	& .navbar-nav.zero-opacity {
		opacity: 0;
		transition: opacity 0.5s ease-out 0s;
	}
}