/*Policy Layout Page template styles*/
.policy-info-box {
	margin: 20px 3px 10px 0px;
    padding: 10px;
    width: 95%;
    float:none; 
	background-color: black;
    
    @mixin atMedium{
		width: 30%;
		float: right;
		margin: 0 0 30px 30px;
		padding: 20px;
	}

	& h4{
		margin-bottom: 6px;
		color: $mainRed;
	}

	& p{
		color: $mainWhite;
		font-size: 80%;
	}

	&--bookingPage {
		margin: 0 auto;
		float: none;

		p {
			font-size: 95%;
		}
	} 

}