/*For our photo gallary*/
#portfolio {
	& .row.padding{
		padding: 2rem 0 1rem;
	}

	& img.example-image {
		max-width: 100%;
	}

	& .no-padding [class*=col-]{
		padding: 0;
	}

	& .portfolio-item img:hover {
		transform: scale(1.3);
		cursor: zoom-in;
	}

	& .portfolio-item img {
		transition: transform .4s ease;
	}

	& .portfolio-item {
		overflow: hidden;
	}

}
