.pricing-column {
	background-color: $mainWhite;
	padding: 2rem;
	border-top: .2rem solid $colorMain;
	box-shadow: 0 0 .8rem rgba($mainBlack, .3);
	transition: transform .5s ease;
	overflow: hidden;
	position: relative;
	background-size: cover;
  	background-position: center center;

	&:hover {
		transform: scale(1.1);
	}

	& h3 {
		padding: 1rem;
		border-bottom: .1rem solid rgba($mainBlack, .2);

	}
	& h3.front-price {
		font-size: 2.5rem;
	}

	& p {
		opacity: .8;
		margin-top: 1.3rem;
	}

	& h4 {
		font-size: 1.1rem;
		padding: .4rem;
	}

	& .item {
		font-weight: 700;
	}

	& h1 {
		padding: .8rem 0;
	}

	& .ribbon {
		background-color: $colorMain;
		color: $mainWhite;
		width: 10rem;
		height: 2rem;
		font-size: .8rem;
		font-weight: 700;
		padding-top: .4rem;
		position: absolute;
		right: -2.8rem;
		top: 1.6rem;
		transform: rotate(45deg);
		box-shadow: 0 0 .8rem rgba($mainBlack, .4);
	}

	& .price-img-span {
		margin-left: 10px;
		width: 3rem;
    	position: absolute;
    	top: 9%;

    	@mixin atExtraLarge {
    		margin-left: 19px;
    		width: 4.5rem;
    		top: 8%;
    	}
	}


	&.vr-background {
		background-image: url('../img/icons/pink-icons-vr.svg');
	}

	&.mgt-background {
		background-image: url('../img/icons/pink-icons-game-controler.svg');
	}

	&.lt-background {
		background-image: url('../img/icons/pink-icons-laser-tag.svg');
	}

}
