
/*FAQ Slide Toggle Animations*/
.qe-toggle {

    &-title{
        font-size: 14px;
        padding: 13px;
    	display: block;
        text-decoration: none;
        padding: 20px;
        margin-top: 10px;
        transition: background .7s ease-in-out;
    }



    &-content {
	   display: none;
        text-decoration: none;
        padding: 20px 30px;
        background: $mainWhite;
        margin: 10px 0px;
    }

    /*FAQ Testing*/
    &-title_1 {
	   display: block;
        text-decoration: none;
        padding: 20px;
        background: $mainWhite;
        margin-top: 10px;
    }

    &-content_1 {
	   display: none;
        text-decoration: none;
        padding: 20px 30px;
        background: $mainWhite;
        margin: 10px 0px;
    }
}
