<h2 class="mobile-off">Ghostly Games Entertainment – So much fun – All IN ONE</h2>
<div class="center-info">
<ul>
 	<li><span class="redmgt fontboldage">Mobile Game Theatre </span> - Where up to 20 players can interact as a team or against each other in our custom built video gaming theatre</li>
 	<li><span class="purplevr fontboldage">Virtual Reality </span> - Addon to your party with the immersion of VR</li>
 	<li><span class="greylt fontboldage">Lazer Tag </span> - Practice physical combat between each other in Lazer Tag</li>
 	<li><span class="bluedj fontboldage">DJ hire </span> - Hire a banging DJ right in front of all the action!</li>
</ul>
</div>
<section class="left-col main-para">
<h3>Your next party is set and ready for awesome entertainment.</h3>
We bring the <strong class="redmgt">ultimate video game party</strong> right to your front door! Our luxury, limo-style theatre on wheels features 5 HD TV's! Surround sound, Stadium Seating and our amazing "Action Stations" enhance the fun. Need a Birthday Party Idea? Have a look at our theme page.

Imagine all your party guests racing, crashing, smashing, shooting, dancing or immersed in a <strong class="purplevr">virtual reality </strong> world. With such a huge range of games we have something for everyone. We can link up all the gaming systems so you can play with your friends. Please have a look at the list of games we have, if there is a game you wish to have at the party (LET US KNOW).

We also have a <strong class="greylt">high-tech laser tag</strong> system by Adventure Sports HQ (USA), players feel as if they've been thrust into a real-life battle for survival...but it's safe...and FUN!

Why not top all this off, and hire one of our <strong class="bluedj">finest DJ’s</strong> to make set your party ALIVE! DJ’s such as Rushnosh (winner in Mega Beat 2016 and winner in Digital Evolution 2017, competitions) plus others, they will bring the beat back to any Video Game party.

If you’re planning a birthday party, Christmas party, company event, business function, bucks night, fundraiser, or just about any other kind of event, Ghostly Games Entertainment will bring the entertainment to you.
<h4>This is a "Ghostly" experience you and your friends will never forget.</h4>
</section>
<section class="sidebar mobile-off">
<a href="http://localhost/wordpress/wp-content/uploads/2017/05/booking_ghostly_btn.png"><img class="alignnone size-wcstandard wp-image-410" src="http://localhost/wordpress/wp-content/uploads/2017/05/booking_ghostly_btn-550x330.png" alt="" width="550" height="400" style="margin-top:50%;height=400px"/></a>
</section>
<div class="body-clear"> </div>
[gallery display="sliderauto" size="wcslider" link="file" class="mike-slider" ids="147,126,128,134"]
<div id="banner-wrapper">
<h2>Our Ghostly TEAM</h2>
<section class="one-third"><a href="http://localhost/wordpress/wp-content/uploads/2017/07/GameGhostsSmall.png"><img class="alignnone size-full wp-image-279 gameghost" src="http://localhost/wordpress/wp-content/uploads/2017/07/GameGhostsSmall.png" alt="" width="500" height="450" /></a>
<h3>Mobile Game Theartre and Virtual Reality Ghoslty</h3>
My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section><section class="one-third"><a href="http://localhost/wordpress/wp-content/uploads/2017/07/DJGhostSmall.png"><img class="alignnone size-full wp-image-278 djghost" src="http://localhost/wordpress/wp-content/uploads/2017/07/DJGhostSmall.png" alt="" width="348" height="450" /></a>
<h3>Ghostly DJ</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section><section class="one-third"><a href="http://localhost/wordpress/wp-content/uploads/2017/07/LazerTagGhostsSmall.png"><img class="alignnone size-full wp-image-280 lazerghost" src="http://localhost/wordpress/wp-content/uploads/2017/07/LazerTagGhostsSmall.png" alt="" width="500" height="450" /></a>
<h3>The Lazer Tag Ghostly's</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee
</section></div>
<div class="body-clear"></div>
<!--- End Banner Section Wrapper -->
<div id="banner-wrapper">
<div class="one-half">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee
</div>
<div class="one-half testOffset">
<h3>Brilliant Kids Birthday Party</h3>
- It's very hard to find activities &amp; entertaining birthday parties for boys. My son is 7 and we had a brilliant time of keeping nearly 20 kids focused for a couple of hours. I'd highly recommend this to anyone. It timezone brought to you!!!" Kidspot review - Shevaun

</div>
</div>
<div class="body-clear"></div>
<section class="parallax-1">
<div class="parallax-inner"><section class="one-third">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section><section class="one-third">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section><section class="one-third">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section></div>
</section>
<div class="body-clear"></div>
<!-- End Paralax Section -->
<!--- Start Banner Section Wrapper -->

<section class="left-col">
<h2>Brilliant Kids Birthday Party</h2>
- It's very hard to find activities entertaining birthday parties for boys. My son is 7 and we had a brilliant time of keeping nearly 20 kids focused for a couple of hours. I'd highly recommend this to anyone. It timezone brought to you!!!" Kidspot review - Shevaun

- It's very hard to find activities &amp; entertaining birthday parties for boys. My son is 7 and we had a brilliant time of keeping nearly 20 kids focused for a couple of hours. I'd highly recommend this to anyone. It timezone brought to you!!!" Kidspot review - Shevaun

- It's very hard to find activities &amp; entertaining birthday parties for boys. My son is 7 and we had a brilliant time of keeping nearly 20 kids focused for a couple of hours. I'd highly recommend this to anyone. It timezone brought to you!!!" Kidspot review - Shevaun

</section><section class="sidebar"><!-- Random Image to the right-->
<a href="http://localhost/wordpress/wp-content/uploads/2017/05/Talli_MassEffectCropped.png"><img class="alignnone size-full wp-image-138" src="http://localhost/wordpress/wp-content/uploads/2017/05/Talli_MassEffectCropped.png" alt="" width="531" height="576" /></a></section>
<div class="body-clear"></div>
<!--- End Banner Section Wrapper -->
<!-- Start Paralax Section -->

<section class="parallax-2">
<div class="parallax-inner"><section class="one-third">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section><section class="one-third">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section><section class="one-third">
<h3>Fun and Fantastic</h3>
- My children loved their Ghostly Games Entertainment party. The gaming coach was friendly, helpful and very kind. I can not say enough great things about them. The day was uncomplicated and perfect. This was the most perfect kids party. The children loved it and it is great value for money. We are already looking forward to next years party. 15 out of 10. I can't fault this business in anyway. 100% fantastic." Kidspot review - Renee

</section></div>
</section><!-- End Paralax Section -->
<div class="body-clear"></div>