<!-- Start reloadpage Div -->
<button class="booknow-button reloadpage" style="display: none"><p></p>
<p>If you need to change anything previously you can press this button to restart your selection</p>
<h2><a href="http://localhost/wordpress/booking/"><strong>RELOAD PAGE</strong></a></h2>
</button>
<!-- End reloadpage Div -->


<!-- Start service-information-pannel Div -->
<div class="service-information-pannel" style="display: none;"><!-- Start MGT-info Div -->
<div class="MGT-info">
<h3>Mobile Game Theater Package Comes with:</h3>
<ul>
 	<li>Mobile Game Theater</li>
 	<li>Multiplayer gaming experience</li>
 	<li>Up to 20 players at once</li>
 	<li>We bring the "Ghostly" fun to you - we're mobile</li>
 	<li>Clean and mess free PARTIES</li>
 	<li>All sorts of weather excepted - Rain, hail or shine</li>
 	<li>5 Xbox One, 4 PS4 Pro, 4 Nintendo Switches, 4 Wii Us</li>
 	<li>20x FREE full colour party invites</li>
 	<li>Fully supervised entertainment.</li>
</ul>
</div>
<!-- End MGT-info Div -->
<!-- Start VR-info Div -->
<div class="VR-info">
<h3>Virtual Rality Add on Package Comes with:</h3>
NOTE: This package MUST come with the Mobile Game Theater package
<ul>
 	<li>2 PS4 Virtual Reality Head Sets and Camera's</li>
 	<li>Extra 10 VR games to play and choose from</li>
 	<li>Rotation controll to ensure everyone in the party gets ago</li>
</ul>
</div>
<!-- End VR-info Div -->
<!-- Start LT-info Div -->
<div class="LT-info">
<h3>Lazer Tag Package Comes with:</h3>
<ul>
 	<li>16 Lazer Taggers</li>
 	<li>16 head visors for laser tag detection</li>
 	<li>2 respawn stations</li>
 	<li>4 pop up bunkers for added tatical hiding spots</li>
 	<li>1 sargent/game master to control the flow of the game - fully supervised</li>
</ul>
</div>
<!-- End LT-info Div -->
<!-- Start DJ-info Div -->
<div class="DJ-info">
<h3>DJ Package Comes with:</h3>
<ul>
 	<li>1 awesome DJ to rock your party</li>
 	<li>Music selection of your choice - please contact us to confirm</li>
 	<li>DJ Set up and Lighting</li>
</ul>
</div>
<!-- End DJ-info Div -->

</div>
<!-- End service-information-pannel Div -->